.main-layout {
  height: 100vh;

  .sidebar-swapper {
    overflow: auto;
    position: fixed;
    left: 0;
    bottom: 0;

  }
  // .content {
  //   margin: 10px 10px;
  //   padding: 5px;
  //   min-height: 280px;
  //   background: white;
  //   border-radius: 10px;
  //   overflow: scroll;
  //   .pro-box{
  //     margin-top:20px;
  //     .pro-left form{
  //       padding-left: 30px;
  //     }
  //     .pro-right{
  //       border-left: 1px solid black;
  //     }
  //   }
  // }
}

